/*setting most styles with prefs now*/
.minimized-button {
  padding: 6px 12px 6px 12px;
}

.minimized-button:hover {
  /*cant use backgroundcolor here and in styleButton(btn), need to use something else*/
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.15);
}

.dragging{
  opacity: 0.5;
}

.button-icon{
    margin-right: 10px;
}

.minimized-button-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}